{% extends 'base/main.html' %}
{% block content %}


<style>

    .task-table {
        width: 100%;
        border-collapse: collapse;
    }

    .task-table th, .task-table td {
        padding: 5px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

   .task-table th a{
        text-decoration: none;
   }
    .task-table td a {
        text-decoration: none;
    }

    .task-title a {
        color: #007bff;
        text-decoration: none;
    }

    .task-complete-icon, .task-incomplete-icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 50%;
        background-color: #ccc;
        margin-right: 5px;
    }

    .delete-link {
        color: #ff0000;
        text-decoration: none;
    }

    select[name="status"] {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    width: 120px;
    }

    select[name="status"] option {
        font-size: 14px;
    }
#filter-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    #filter-bar form {
        display: flex;
        align-items: center;
        max-width: 540px;
        width: 100%;
    }

    #filter-bar label {
        margin: 0 10px;
        font-weight: bold;
        font-size: 12px;
    }

    #filter-bar select,
    #filter-bar input[type="date"] {
        padding: 5px;
        font-size: 11px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    #filter-bar select {
        width: 120px;
    }

    #filter-bar input[type="date"] {
        width: 150px;
    }

    #filter-bar button {
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        height: 27px;
    }

</style>


<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin:0">
            You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}
        </h3>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}

</div>

<div id="search-add-wrapper">
    <form action="" method="GET" style="margin-top:20px; display:flex;">
    <input type="text" name="search-area" value="{{search_input}}">
    <input class="button" type="submit" value="Search">
    </form>
    <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
</div>

<div id="filter-bar">
    <form method="get">
        <label for="status-filter">Status:</label>
        <select id="status-filter" name="status">
            <option value="">All</option>
            <option value="done" {% if status_param == 'done' %}selected{% endif %}>Done</option>
            <option value="in-progress" {% if status_param == 'in-progress' %}selected{% endif %}>In Progress</option>
        </select>

        <label for="start-date-filter">Start Date:</label>
        <input type="date" id="start-date-filter" name="start_date" value="{{ request.GET.start_date }}">

        <label for="end-date-filter">End Date:</label>
        <input type="date" id="end-date-filter" name="end_date" value="{{ request.GET.end_date }}">

        <button type="submit">Submit</button>
    </form>
</div>


<table class="task-table">
    <thead>
        <tr>
             <th>
                <a href="{% url 'tasks' %}?sort_by=complete&sort_order={{ next_sort_order }}">
                    Status{% if sort_by == 'complete' %} {% if sort_order == 'asc' %}&uarr;{% else %}&darr;{% endif %}{% endif %}
                </a>
            </th>
            <th>
                <a href="{% url 'tasks' %}?sort_by=title&sort_order={{ next_sort_order }}">
                    Title{% if sort_by == 'title' %} {% if sort_order == 'asc' %}&uarr;{% else %}&darr;{% endif %}{% endif %}
                </a>
            </th>
            <th>
                <a href="{% url 'tasks' %}?sort_by=created&sort_order={{ next_sort_order }}">
                    Date{% if sort_by == 'created' %} {% if sort_order == 'asc' %}&uarr;{% else %}&darr;{% endif %}{% endif %}
                </a>
            </th>
            <th>
                <a href="{% url 'tasks' %}?sort_by=due_date&sort_order={{ next_sort_order }}">
                    Due Date{% if sort_by == 'due_date' %} {% if sort_order == 'asc' %}&uarr;{% else %}&darr;{% endif %}{% endif %}
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <td>
                    <form method="post" action="{% url 'task-status-update' %}">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{ task.id }}">
                        <select name="status" onchange="this.form.submit()">
                            <option value="in-progress" {% if not task.complete %}selected{% endif %} class="in-progress">In Progress</option>
                            <option value="done" {% if task.complete %}selected{% endif %} class="done">Done</option>
                        </select>
                    </form>
                </td>
                <td>
                    {% if task.complete %}
                        <s><a href="{% url 'task-update' task.id %}">{{task}}</a></s>
                    {% else %}
                        <a href="{% url 'task-update' task.id %}">{{task}}</a>
                    {% endif %}
                </td>
                <td>
                    {{ task.created|date:"d.m.Y" }}
                </td>
                <td>{{ task.due_date|date:"d.m.Y H:i" }}</td>
                <td>
                    <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No items in the list</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<script>
    function next_sort_order(sort_by) {
        const current_sort_order = "{{ sort_order }}";
        const next_order = current_sort_order === 'asc' ? 'desc' : 'asc';
        return next_order;
    }
</script>

{% endblock content %}

